/*    Device = Laptops, Desktops
---------------------------------------------------------------- */

@media only screen and (min-width: 992px) and (max-width: 1280px) {
	.navbar-brand {
		position: absolute;
		top: 10px;
		left: 15px;
	}
	.header .navbar .language {
		position: absolute;
		right: 15px;
		top: 10px;
	}
	.header .navbar .language .dropdown-menu {
		top: 100%;
		right: 0;
		margin-left: -80px;
	}
	.navbar-nav {
		width: 100%;
		justify-content: center;
	}
	.header .navbar .navbar-nav .nav-item .nav-link {
		padding: 0px 0px;
	}
	.header .navbar .navbar-nav .nav-item {
		padding: 40px 0px 0;
	}
	#header .img-wrapper .intro-img .bounce_wrapper img {
		width: 100%;
	}
	#about_cryptonic_06 .about-img {
		margin-top: 0;
		margin-right: -42px;
		margin-left: 0;
	}
	#about_cryptonic_06 .about-img img {
		width: 100%;
	}
	#features .feature_items .single-wrapper .single-items {
		margin-bottom: 30px;
	}
	#token_sale_06 .pricing_items .single-wrapper .pricing_single {
		margin-bottom: 30px;
	}
	#token_sale_06 .pricing_bottom .pricing_list_wrapper {
		padding: 15px;
		margin: 0;
	}
	#token_sale_06 .pricing_bottom .pricing_list_wrapper ul {
		margin-right: 15px;
	}
	#tokenomics .distribution_single_items {
		display: inline;
	}
	#tokenomics .distribution_single_item {
		margin: 0px auto;
		margin-bottom: 250px;
	}
	#tokenomics .distribution_single_item:last-child {
		margin-bottom: 00px;
	}
	#header .img-wrapper .intro-img .bounce_wrapper img {
		margin-left: 0;
	}
	#roadmap_06 .location_04 {
		width: 100%;
	}
	#roadmap_06 .location_04 .location_wrapper .roadmap_position {
		height: auto;
		width: 100%;
	}
	#roadmap_06 .location_04 .location_wrapper .location_1 {
		bottom: 40%;
		left: 0;
		width: 50%;
	}
	#roadmap_06 .location_04 .location_wrapper .location_2 {
		left: -10px;
		bottom: -19%;
		width: 50%;
	}
	#roadmap_06 .location_04 .location_wrapper .location_3 {
		right: 0%;
		width: 50%;
	}
	#roadmap_06 .location_04 .location_wrapper .location_4 {
		right: 0%;
		width: 50%;
	}
	#roadmap_06 .location_04 .location_wrapper .location {
		position: static;
		flex-wrap: wrap;
		flex: wrap;
		float: left;
	}
	#header-01 .img-wrapper .intro-img {
		margin-top: 25%;
		margin-right: 0;
		margin-left: 0;
	}
	#header-01 .img-wrapper .intro-img img {
		width: 100%;
	}
	#about_cryptonic_01 .about-img {
		margin-left: 0;
	}
	#about_cryptonic_01 .about-img img {
		width: 100%;
	}
	#tokenization_benefits_01 .about-img {
		margin-left: 0;
	}
	#tokenization_benefits_01 .about-img img {
		width: 100%;
	}
	#roadmap_01 .location_04 {
		width: 100%;
	}
	#roadmap_01 .location_04 .location_wrapper .roadmap_position {
		height: auto;
		width: 100%;
	}
	#roadmap_01 .location_04 .location_wrapper .location_1 {
		bottom: 40%;
		left: 0;
	}
	#roadmap_061.location_04 .location_wrapper .location_2 {
		left: -10px;
		bottom: -19%;
	}
	#roadmap_01 .location_04 .location_wrapper .location_3 {
		right: 0%;
	}
	#roadmap_01 .location_04 .location_wrapper .location_4 {
		right: 0%;
	}
	#roadmap_01 .location_04 .location_wrapper .location {
		position: static;
		flex-wrap: wrap;
		flex: wrap;
		float: left;
		width: 50%;
		padding: 0 80px;
	}
	#companis_supported_01 img {
		width: 120px;
	}
	#faq-area-01 .faq-wrapper .accordion-wrapper .accordion-single .panel-heading {
		padding: 15px 25px;
		height: auto;
	}
	#faq-area-01 .faq-wrapper .accordion-wrapper .accordion-single .panel-heading a {
		line-height: 30px;
	}
	#footer-01 .copyright .social-links {
		justify-content: end;
		text-align: right;
	}
	.header .img-wrapper .intro-img img {
		width: 100%;
		margin-left: 0;
	}
	#benefits #about_cryptonic .about-img .img-wrapper::before {
		display: none;
	}
	#benefits #about_cryptonic .about-img .img-wrapper img {
		width: 100%;
	}
	#token_distribution .token_distribution_wrapper img {
		width: 100%;
	}
	#token_funds .token_distribution_wrapper img {
		width: 100%;
	}
	.header .is-sticky .cripto_nav {
		padding: 25px !important;
	}
	#header-02 .is-sticky .cripto_nav {
		padding: 0px !important;
	}
	#header-02 .img-wrapper .intro-img img {
		margin-left: 0;
		width: 100%;
	}
	#header-02 .intro-text {
		padding: 0;
	}
	#header-02 .earning-02 {
		margin-top: 7%;
	}
	#faq-area-02 .faq-wrapper .accordion-wrapper .accordion-single .panel-heading {
		height: auto;
		padding: 15px 25px;
	}
	#faq-area-02 .faq-wrapper .accordion-wrapper .accordion-single .panel-heading a {
		line-height: 26px;
	}
	#header-04 .is-sticky nav.navbar {
		padding: 0 !important;
	}
	#footer-04 .address-single .address_wrapper span {
		font-size: 16px;
	}
	#faq-area-05 .faq-wrapper .accordion-wrapper .accordion-single .panel-heading {
		height: auto;
		padding: 15px 22px;
	}
	#faq-area-05 .faq-wrapper .accordion-wrapper .accordion-single .panel-heading a {
		line-height: 26px !important;
	}
	#header-05 .is-sticky .cripto_nav {
		padding: 0 !important;
	}
	#sec_chart .chart_title {
		text-align: center;
		margin-bottom: 70px;
	}

}
/*		Tablet Layout: 768px.
---------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header {
		height: 100%;
	}
	.shape1 img, .shape2 img, .shape3 img, .shape4 img, .shape5 img{
		width: 100%
	}
	.navbar-brand {
		position: absolute;
		top: 10px;
		left: 15px;
	}
	.header .navbar .language {
		position: absolute;
		right: 15px;
		top: 10px;
	}
	.header .navbar .language .dropdown-menu {
		top: 100%;
		right: 0;
		margin-left: -80px;
	}
	.navbar-nav {
		width: 100%;
		justify-content: center;
	}
	.header .navbar .navbar-nav .nav-item .nav-link {
		padding: 0px 0px;
	}
	.header .navbar .navbar-nav .nav-item {
		padding: 40px 0px 0;
	}
	/* index-03 */
	.token_distribution_wrapper > img {
		width: 100%;
	}
	.digit {
		height: 70px;
		line-height: 70px;
		width: 70px;
	}
	.sub-title {
		min-width: 440px;
	}
	/* index 02*/
	#header-02 .intro-text h1 {
		font-size: 30px;
		line-height: 35px;
	}
	#header-02 .intro-text {
		padding: 0px 10%;
		margin-top: 95px;
	}
	#header-02 .intro-text .btn_video_wrapper {
		display: flex;
	}
	#header-02 .intro-text .btn_video_wrapper .video_wrapper .video-play-btn {
		margin-left: 0px;
		margin-top: 0px;
	}
	#header-02 .img-wrapper .intro-img {
		margin-top: 0px;
		margin-left: 0;
		text-align: center;
	}
	#header-02 .earning-02 .earning-wrapper {
		padding: 50px 15px;
	}
	#about_cryptonic_02 .about-img {
		margin-left: 0%;
	}
	#about_cryptonic_02 .about-img img {
		width: 100%;
	}
	#about_cryptonic_02 .about-img > img,
	#pricing_charts_02 .chats-wrapper img {
		width: 100%;
	}
	#multiple-income-02 .about-img {
		margin-left: 0;
	}
	#multiple-income-02 .about-img img {
		width: 100%;
	}
	#team_membar_02 .owl-item.active {
		margin-top: 0;
	}
	#ico_news_02 .single-blog-wrapper {
		margin-bottom: 60px;
	}
	#ico_news_02 .single-blog-wrapper:last-child {
		margin-bottom: 0px;
	}
	#faq-area-02 .faq-wrapper .accordion-wrapper .accordion-single .panel-heading {
		padding: 7px 25px;
	}
	#faq-area-02 .faq-wrapper .accordion-wrapper .accordion-single .panel-heading a {
		font-size: 15px;
		line-height: 10px;
	}
	#faq-area-02 .faq-wrapper .accordion-wrapper .panel-title > a.collapsed::before {
		padding-right: 1px;
	}
	#faq-area-02 .faq-wrapper .accordion-wrapper .panel-title > a::before {
		padding-top: 26px;
		padding-right: 0;
	}
	#faq-area .faq-wrapper a::after {
		right: -40px;
		top: 0;
	}
	#faq-area-02 .sub-title {
		min-width: 296px;
	}
	#footer-02 {
		background: #7158e7 url("../images/bg-img/footer-02.jpg") no-repeat scroll 0 0;
	}
	#earning-04 .earning-wrapper .single-earnings {
		margin: 0;
		padding: 60px 15px;
	}
	#about_cryptonic_04 .about_2_item {
		padding-top: 100px;
	}
	#about_cryptonic_04 {
		padding: 100px 0;
	}
	#benefit-04 .single-items .benefits-icon img {
		width: 70px;
	}
	#real_investor_04 .best_price .single_items {
		margin: 0 50px;
	}
	#earning-05 .earning-wrapper .single-earnings {
		width: 30%;
	}
	#about_cryptonic_05 .about_2_item {
		padding-top: 100px;
	}
	#roadmap_05 .location_04 .location_wrapper .roadmap_position {
		height: 0;
	}
	/* index 05*/
	#about_cryptonic_05 .about-img > img {
		width: 100%;
	}
	#about_cryptonic_05 .about_2_item img,
	#multiple-income-05 .about-img > img {
		width: 100%;
	}
	#faq-area-05 .faq-wrapper .accordion-wrapper .accordion-single .panel-heading {
		padding: 7px 25px;
	}
	#faq-area-05 .faq-wrapper .accordion-wrapper .accordion-single .panel-heading a {
		font-size: 15px;
		line-height: 10px;
	}
	#faq-area-05 .faq-wrapper .accordion-wrapper .panel-title > a.collapsed::before {
		padding-right: 1px;
	}
	#faq-area-05 .faq-wrapper .accordion-wrapper .panel-title > a::before {
		padding-top: 26px;
		padding-right: 0;
	}
	#faq-area-05 .sub-title {
		min-width: 296px;
	}
	#footer-02 p {
		margin: 0 30px 0 0;
	}
	/* index 01*/
	#header-01 .intro-text {
		padding: 0 0 0 18px;
	}
	#header-01 .img-wrapper .intro-img img {
		height: auto;
		margin-left: 12%;
		margin-top: 38%;
		width: 100%;
	}
	#header-01 .img-wrapper .intro-img .shape-1 .box img{
		display: none;
	}
	#about_cryptonic_01 .img-wrapper img {
		margin-top: 25%;
		width: 108%;
	}
	#tokenization_benefits_01 .img-wrapper img {
		margin-top: 79px;
		width: 100%;
	}
	#faq-area-01 .faq-wrapper .accordion-wrapper .accordion-single .panel-heading {
		padding: 7px 25px;
	}
	#faq-area-01 .faq-wrapper .accordion-wrapper .accordion-single .panel-heading a {
		font-size: 15px;
		line-height: 10px;
	}
	#faq-area-01 .faq-wrapper .accordion-wrapper .panel-title > a.collapsed::before {
		padding-right: 1px;
	}
	#faq-area-01 .faq-wrapper .accordion-wrapper .panel-title > a::before {
		padding-top: 26px;
		padding-right: 0;
	}
	#subscribe_area_01 .subscribe-wrapper #subscribe .subscribe-form form {
		width: 700px;
	}
	#header .intro-text {
		text-align: center;
		margin: 200px 0 0px;
	}
	#header .intro-text h1 {
		padding: 0 50px;
	}
	#header .intro-text p {
		padding: 0 50px;
	}
	#header .intro-text .btn_video_wrapper {
		justify-content: center;
	}
	#header .img-wrapper .intro-img {
		margin-left: 0%;
		text-align: center;
	}
	#header .img-wrapper .intro-img .bounce_wrapper img {
		margin-left: 0;
	}
	#header .img-wrapper .intro-img .bounce_wrapper .shape-1 {
		right: 29%;
	}
	#header .shape4 img {
		top: 0;
		right: 0;
		z-index: -2;
		transform: translate(50px, 90%);
	}
	#header .shape6 {
		bottom: 0%;
	}
	#about_us {
		padding: 100px 0 150px;
	}
	#about_cryptonic_06 .about-img {
		margin-top: 0;
		margin-right: -42px;
		margin-left: 0;
	}
	#about_cryptonic_06 .about-img img {
		width: 117%;
	}
	#features .feature_items .single-wrapper .single-items {
		margin-bottom: 30px;
	}
	#token_sale_06 .pricing_items .single-wrapper .pricing_single {
		margin-bottom: 30px;
	}
	#token_sale_06 .pricing_bottom .pricing_list_wrapper {
		padding: 15px;
		margin: 0;
	}
	#token_sale_06 .pricing_bottom .pricing_list_wrapper ul {
		margin-right: 15px;
	}
	#tokenomics .distribution_single_items {
		display: inline;
	}
	#tokenomics .distribution_single_item {
		margin: 0px auto;
		margin-bottom: 250px;
	}
	#tokenomics .distribution_single_item:last-child {
		margin-bottom: 00px;
	}
	#roadmap_06 .location_04 {
		width: 100%;
	}
	#roadmap_06 .location_04 .location_wrapper .roadmap_position {
		height: auto;
		width: 100%;
	}
	#roadmap_06 .location_04 .location_wrapper .location_1 {
		bottom: 40%;
		left: 0;
		width: 50%;
	}
	#roadmap_06 .location_04 .location_wrapper .location_2 {
		left: -10px;
		bottom: -19%;
		width: 50%;
	}
	#roadmap_06 .location_04 .location_wrapper .location_3 {
		right: 0%;
		width: 50%;
	}
	#roadmap_06 .location_04 .location_wrapper .location_4 {
		right: 0%;
		width: 50%;
	}
	#roadmap_06 .location_04 .location_wrapper .location {
		position: static;
		flex-wrap: wrap;
		flex: wrap;
		float: left;
	}
	#companis_supported_06 .companis_supported_logos ul {
		padding: 0 15px 30px;
	}
	#companis_supported_06 .companis_supported_logos ul li img {
		width: 120px;
	}
	#team_membar_06 .owl-item.active {
		margin-top: 0;
	}
	.faq-img {
		text-align: center;
		margin-bottom: 50px;
	}
	.subscribe-wrapper #subscribe .subscribe-form form {
		width: 650px;
	}
	#header-01 .img-wrapper .intro-img {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
	}
	#header-01 .img-wrapper .intro-img img {
		height: auto;
		margin-left: 0;
		margin-top: 0%;
		width: 100%;
	}
	#header-01 .intro-text {
		margin-top: 120px;
	}
	#header-01 .row.intro-wrapper {
		display: flex;
		flex-direction: column-reverse;
	}
	#header-01 .img-wrapper {
		flex: 2;
	}
	#header-01 .intro-text-wrapper {
		flex: 1;
	}
	#about_cryptonic_01 .img-wrapper img {
		margin-top: 50%;
		width: 120%;
	}
	#benefits-01 .benefits-single-item .benefits-single-wrapper {
		margin-bottom: 30px;
	}
	#token_sale_01 .pricing_items .single-wrapper .pricing_single {
		margin: 0 10px 30px;
	}
	#token_sale_01 .pricing_bottom .pricing_list_wrapper {
		padding: 15px;
	}
	#token_sale_01 .pricing_bottom .pricing_list_wrapper ul {
		margin-right: 15px;
	}
	#roadmap_01 .location_04 {
		width: 100%;
	}
	#roadmap_01 .location_04 .location_wrapper .roadmap_position {
		height: auto;
		width: 100%;
	}
	#roadmap_01 .location_04 .location_wrapper .location_1 {
		bottom: 40%;
		left: 0;
		width: 50%;
	}
	#roadmap_01 .location_04 .location_wrapper .location_2 {
		left: -10px;
		bottom: -19%;
		width: 50%;
	}
	#roadmap_01 .location_04 .location_wrapper .location_3 {
		right: 0%;
		width: 50%;
	}
	#roadmap_01 .location_04 .location_wrapper .location_4 {
		right: 0%;
		width: 50%;
	}
	#roadmap_01 .location_04 .location_wrapper .location {
		position: static;
		flex-wrap: wrap;
		flex: wrap;
		float: left;
	}
	#companis_supported_01 .companis_supported_logos ul {
		padding: 0 15px 30px;
	}
	#companis_supported_01 .companis_supported_logos ul li img {
		width: 120px;
	}
	#team_membar_01 .owl-item.active {
		margin-top: 0;
	}
	#footer-01 .copyright .social-links {
		justify-content: end;
		text-align: right;
	}
	#header .is-sticky .cripto_nav {
		padding: 25px !important;
		transition: all 0.3s ease-in-out;
	}
	.header .img-wrapper .intro-img {
		margin-top: 0;
		margin-left: 0;
		margin-bottom: 100px;
	}
	.header .img-wrapper .intro-img img {
		width: 100%;
		margin-left: 0;
	}
	.header .intro-text {
		margin-top: 120px;
		padding-right: 0px;
	}
	#benefits .benefits-single-item .benefits-single-wrapper {
		margin-bottom: 15px;
	}
	#benefits #about_cryptonic .about-img .img-wrapper::before {
		display: none;
	}
	#benefits #about_cryptonic .about-img .img-wrapper img {
		width: 85%;
		margin-top: 30%;
	}
	.position {
		width: 70px;
	}
	.payment_mathod .payment-options {
		flex-wrap: wrap;
	}
	.payment_mathod .payment-options .payment-single {
		margin: 0 15px 30px;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-dese-left .doc-wraper::before {
		left: 0px;
		top: 0px;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-dese-right .doc-wraper::before {
		left: 0px;
		top: 0px;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-desc .doc-wraper {
		padding: 15px;
		margin: 15px;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-dese-right .doc-wraper {
		padding: 15px;
	}
	.roadmap .roadmap-area::before {
		background: transparent;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-status {
		padding: 30px 0 50px;
		text-align: center;
		min-height: auto;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-marker {
		display: none;
	}
	.pn_reverse {
		display: flex;
		flex-direction: column-reverse;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-dese-left {
		padding: 0;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-dese-right {
		padding: 0;
	}
	#team_membar .single-row .team-single-item {
		margin-bottom: 30px;
	}
	#team_membar .single-row {
		margin-bottom: 0;
	}
	.logos .companis-logo-wapper .companis-logos {
		margin-bottom: 50px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.logos .companis-logo-wapper .companis-logos li {
		margin: 15px;
	}
	.logos .companis-logo-wapper .companis-logos li img {
		height: 20px;
		width: auto;
	}
	.footer .footer-single-col {
		margin-bottom: 50px;
	}
	.footer .footer-btm-wrapper .footer-single-col .subtitle_1 {
		margin-bottom: 25px;
	}
	#token_distribution .token_distribution_wrapper img {
		width: 100%;
	}
	#blog-post .post-area .blog_wrapper .widget form input[type="search"] {
		width: 100%;
	}
	#blog-post .post-area .blog_wrapper {
		padding: 20px 15px;
	}
	#blog-post .post-area {
		margin-bottom: 0;
	}
	.blog_post .header-shape {
		position: absolute;
		z-index: -10;
		display: none;
	}
	#sec_chart {
		margin-top: 170px;
		margin-bottom: 100px;
	}
	#sec_chart .chart_title {
		text-align: center;
		margin-bottom: 20px;
	}
	.legend {
		margin-bottom: 70px;
	}
}
/*		Mobile Layout: 320px.
---------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
	.header {
		height: 100%;
		overflow: hidden;
	}
	.body_05 .language {
	    position: absolute;
	    top: 10px;
	    left: 62%;
	    transform: translateX(-50%);
	    width: 100%;
	    justify-content: center;
	}
	#header .bubble3 {
	    right: 2%;
	}
	.shape1 img, .shape2 img, .shape3 img, .shape4 img, .shape5 img{
		width: 100%
	}
	.header .navbar {
		padding: 5px 0 !important;
		z-index: 99;
		background: #020c59 !important;
	}
	.header .navbar .navbar-nav .nav-item .nav-link {
		padding: 10px 15px !important;
		color: #ffffff !important;
		font-size: 15px;
		display: inline-block;
	}
	.header .navbar .language {
		margin-left: 0px;
	}
	.language {
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		justify-content: center;
	}
	.header .navbar .language .dropdown-menu {
		top: 100%;
		right: 0;
		margin-left: -80px;
	}
	.header .navbar .language .token {
		padding: 0px 15px !important;
		line-height: 40px !important;
	}
	.navbar-brand {
		width: 78%;
		text-align: right;
	}
	/* index-03 */
	.navbar-light .navbar-toggler {
		color: #fff;
		border: none;
		cursor: pointer;
		margin-left: 3%;
		outline: none;
	}
	.header .intro-text {
		margin-top: 100px;
		padding-right: 0px;
		text-align: center;
	}
	.header .intro-text h1 {
		font-size: 30px;
		line-height: 35px;
		text-align: center;
	}
	.header .intro-text p {
		font-size: 14px;
		padding-right: 0;
		text-align: center;
	}
	.header .intro-text .intro_btn_3 {
		margin-right: 15px;
		padding: 0 30px;
		height: 50px;
		line-height: 50px;
	}
	.intro-text .btn-default-style {
		margin-left: 0%;
	}
	.header .img-wrapper .intro-img img {
		margin-left: 17%;
		width: 82%;
		display: none;
	}
	#benefits #about_cryptonic .about_cryptonic-content h6 {
		margin-left: 0;
	}
	#benefits #about_cryptonic .about_cryptonic-content h6::before {
		display: none;
	}
	#countdown-area {
		background: #0b1e68;
		padding: 120px 0;
		text-align: center;
	}
	.sub-title {
		width: 100%;
	}
	.sub-title h2 {
		font-size: 30px !important;
		line-height: 36px !important;
	}
	#benefits .benefits-single-item .benefits-single-wrapper {
		margin-bottom: 20px;
	}
	#benefits #about_cryptonic .about-img .img-wrapper::before {
		display: none;
	}
	#benefits #about_cryptonic .about-img {
		position: static;
		right: 0;
	}
	#benefits #about_cryptonic .about-img img {
		margin-bottom: 100px;
		margin-left: 10%;
		margin-top: -130px;
		width: 80%;
	}
	#benefits #about_cryptonic .about_cryptonic-content {
		padding-left: 20px;
		padding-right: 20px;
	}
	#benefits #about_cryptonic .about_cryptonic-content h2 {
		font-size: 30px;
		line-height: 36px;
	}
	#progerss-wrapper .progress .heard_cap span,
	#progerss-wrapper .progress .minimum_goal span,
	#progerss-wrapper .progress .heard_cap h3,
	#progerss-wrapper .progress .heard_cap h3,
	#progerss-wrapper .progress .minimum_goal h3 {
		font-size: 16px;
	}
	.payment_mathod .payment-options {
		display: flex;
		flex-wrap: wrap;
	}
	.payment_mathod .payment-options .payment-single {
		margin: 15px 15px;
		width: 175px;
	}
	#progerss-wrapper .progress {
		height: 38px;
	}
	#progerss-wrapper .progress .progress-bar span {
		font-size: 18px;
	}
	.token_distribution_wrapper > img {
		width: 100%;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-dese-left .doc-wraper::before {
		left: 0px;
		top: 0px;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-dese-right .doc-wraper::before {
		left: 0px;
		top: 0px;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-desc .doc-wraper {
		padding: 15px;
		margin: 15px;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-dese-right .doc-wraper {
		padding: 15px;
	}
	.roadmap .roadmap-area::before {
		background: transparent;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-status {
		padding: 30px 0 50px;
		text-align: center;
		min-height: auto;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-marker {
		display: none;
	}
	.pn_reverse {
		display: flex;
		flex-direction: column-reverse;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-dese-left {
		padding: 0;
	}
	.roadmap .roadmap-area .roadmap-tree .roadmap-cloumn .roadmap-dese-right {
		padding: 0;
	}
	.logos .companis-logo-wapper .companis-logos {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	.logos .companis-logo-wapper .companis-logos li {
		width: 50%;
		margin-bottom: 30px;
		vertical-align: middle;
	}
	.logos .companis-logo-wapper .companis-logos li img {
		width: 120px;
		height: auto;
		margin: 0px auto;
	}
	.logos .companis-logo-wapper .companis-logos:last-child li {
		margin: 0;
	}
	.logos .companis-logo-wapper .companis-logos:last-child {
		justify-content: left;
	}
	.footer .footer-btm-wrapper .footer-single-col p {
		margin: 0;
	}
	.padding-none {
		padding: 0px 20px;
	}
	.about_2_item .about-img > img {
		margin-left: 22px;
		margin-top: -50px;
	}
	.footer .footer-btm-wrapper .footer-single-col .subtitle_1 {
		margin-bottom: 20px;
		margin-top: 50px;
	}
	.navbar-light .navbar-brand {
		position: relative;
	}
	.navbar-light .navbar-brand img {
		float: right;
		mergin-right: 0;
	}
	.navbar-light .navbar-brand .logo-name {
		visibility: hidden;
	}
	.navbar-light .navbar-brand::before {
		background-size: 40px 40px;
		position: absolute;
		top: 15px;
		right: -15px;
		content: "";
		height: 55px;
		width: 40px;
		background-repeat: no-repeat;
	}
	.header_effect {
		display: none;
	}
	.intro-img-wrapper > img {
		width: 100%;
	}
	#footer .copyright p {
		line-height: 23px;
	}
	.shape2.header-shape > img {
		display: none;
	}
	/* index-06 */
	#header .navbar .language .token {
		line-height: 40px !important;
	}
	#header .intro-text {
		margin: 120px 0 100px;
	}
	#header .intro-text h1 {
		font-size: 30px;
		line-height: 35px;
		padding: 0;
	}
	#header .intro-text p {
		padding: 20px 0 0;
	}
	#header .intro-text .btn_video_wrapper {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	#header .intro-text .btn_video_wrapper a {
		margin: 0;
	}
	#header .intro-text .btn_video_wrapper .video_wrapper .video-play-btn span a {
		margin: 0px auto;
	}
	#header .intro-text {
		padding: 0px;
		margin-top: 95px;
		position: absolute;
		left: 50%;
		top: 25%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	#header .img-wrapper .intro-img .bounce_wrapper img {
		margin-left: 0;
		margin-top: 0%;
		width: 100%;
	}
	#header .img-wrapper .intro-img {
		margin-top: 0;
		margin-left: 0;
	}
	.shape-1 .bounce-1 {
		display: none;
	}
	#header .video_wrapper {
		margin: 0px;
		margin-top: 20px;
	}
	#header .countdown_time {
		margin: 90px 0 0;
		padding: 0;
	}
	#header  .coundown-timer{
		display: flex;
		flex-wrap: wrap;
	}
	#header .countdown_time .clock-countdown .single-counter {
		padding: 15px;
	}
	#header .countdown_time .count-time_btn {
		padding-bottom: 30px;
	}
	#header .countdown_time .count-time_btn a {
		font-size: 14px;
	}
	#header .countdown_time .clock-countdown .single-counter .normal {
		margin-left: 0px;
	}
	#about_us {
		padding: 100px 0 100px;
	}
	#about_us .about_cryptonic-content {
		padding: 0px;
	}
	#features .feature_items .single-wrapper {
		margin-bottom: 20px;
		padding-right: 22px;
	}
	#tokenomics .distribution_single .distribution_wrapper .distribution_details .token_shape .header-shape img {
		width: 300px;
	}
	#footer .footer_items .footer_single_list_1 {
		width: 100%;
	}
	#footer .footer_items .footer_single_list_2 {
		width: 50%;
	}
	#footer .footer_items .footer_single_list_3 {
		width: 50%;
	}
	#footer .footer_items .footer_single_list_4 {
		width: 100%;
	}
	#footer .footer_items {
		flex-wrap: wrap;
	}
	#features .feature_items .single-wrapper {
		padding: 0 15px;
	}
	#features .feature_items .single-wrapper:last-child {
		padding-left: 15px;
	}
	#features .feature_items .single-wrapper {
		margin-bottom: 20px;
		padding-right: 15px;
	}
	#tokenomics .distribution_single .distribution_wrapper .distribution_details h3 {
		min-height: 200px;
		min-width: 200px;
	}
	#features .feature_items .single-wrapper:first-child {
		padding-right: 15px;
	}
	.distribution_single_item {
		margin-bottom: 100px;
	}
	#tokenomics {
		padding: 0px 0;
	}
	.distribution_single_item:last-child {
		margin-bottom: 0px;
	}
	.distribution_single_item:last-child {
		margin-bottom: 0;
	}
	#tokenomics .distribution_single .distribution_wrapper .details_content .details_1 p {
		margin-bottom: 0;
	}
	#tokenomics .distribution_single .distribution_wrapper .details_content .details span::before {
		display: none !important;
	}
	#tokenomics .distribution_single .distribution_wrapper .details_content .details {
		position: static;
		bottom: 0 !important;
		left: 0 !important;
		transform: translate(0%) !important;
		display: flex;
		justify-content: left;
		width: 100%;
		padding-left: 0px;
		padding-bottom: 15px;
	}
	#tokenomics .distribution_single .distribution_wrapper .details_content {
		margin-top: 100px;
	}
	#tokenomics .distribution_single .distribution_wrapper .details_content .details_2 p {
		margin-bottom: 0;
		margin-right: 0;
	}
	#tokenomics .distribution_single .distribution_wrapper .details_content .details_3 p {
		margin-bottom: 0;
		margin-left: 0;
	}
	#tokenomics .distribution_single .distribution_wrapper .details_content .details_5 p {
		margin-top: 0;
	}
	#tokenomics .distribution_single .distribution_wrapper .details_content .details_6 p {
		margin-top: 0;
		margin-left: 0;
	}
	#tokenomics .distribution_single .distribution_wrapper .details_content .details_4 p {
		margin-top: 0;
		margin-right: 0;
	}
	#tokenomics .distribution_single .distribution_wrapper .details_content .details p {
		position: relative;
	}
	.details_caption {
		position: absolute;
		right: 0;
	}
	#footer p {
		margin: 0 0% 0 0;
	}
	#footer {
		padding-top: 100px;
	}
	#blog .blog_singel {
		margin-bottom: 20px;
	}
	#blog-post .post-area .blog_wrapper {
		padding: 20px 15px;
	}
	#blog-single-wrapper .blog_details_left .blog_details .commnet-wrapper .comment-list-items .comment-list-wrapper .comment-list {
		position: relative;
	}
	#blog-single-wrapper .blog_details_left .blog_details .commnet-wrapper .comment-list-items .comment-list-wrapper .comment-list .comment-text {
		padding: 0;
	}
	.blog_details .commnet-wrapper .comment-list-items .reply-comment {
		text-align: right;
	}
	#blog-single-wrapper .blog_details_left .blog_details .commnet-wrapper .comment-list-items .comment-list {
		margin-bottom: 15px;
		background: #ffffff;
		padding: 24px 20px 40px;
	}
	#blog-post .post-area .blog_wrapper .commnet-wrapper .comment-list-items .comment-list-wrapper .comment-list .comment-text {
		padding: 0 0px 0 15px;
	}
	#blog-post .post-area .blog_wrapper .commnet-wrapper .comment-list-items .comment-list-wrapper .reply_comment_text {
		margin-left: 20px;
	}
	#blog-post .post-area .blog_wrapper .commnet-wrapper .comment-list-items .comment-list-wrapper .comment-list {
		position: relative;
	}
	#blog-single-wrapper .blog_details_left .blog_details .commnet-wrapper .comment-list-items .comment-list-wrapper .comment-list {
		padding: 24px 20px 50px;
	}
	#blog-single-wrapper .blog_details_left .blog_details .commnet-wrapper .comment-list-items .comment-list-wrapper .comment-list .comment-text .author_info .author_name {
		margin-right: 15px;
	}
	#blog-single-wrapper .blog_details_left .blog_details .commnet-wrapper .comment-list-items .comment-list-wrapper .comment-list .commnet_img {
		width: 60px;
		margin-right: 15px;
	}
	#blog-single-wrapper .blog_details_left .blog_details .commnet-wrapper .comment-list-items .comment-list-wrapper .reply_comment_text {
		margin-left: 15px;
	}
	.blog_details .commnet-wrapper .comment-list-items .reply-comment {
		text-align: right;
		position: absolute;
		bottom: 0px;
		right: 0;
	}
	#blog .blog_singel .blog-img img {
		width: 100%;
	}
	#sec_chart {
		margin-top: 170px;
		margin-bottom: 100px;
	}
	#sec_chart .chart_title {
		text-align: center;
		margin-bottom: 10px;
	}
	.legend {
		margin-bottom: 70px;
	}
}
/*		Wide Mobile Layout: 480px.
------------------------------------------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.shape3.header-shape > img {
		display: none;
	}
	.header-01 {
	    min-height: 620px;
	}
	#sec_chart {
		margin-top: 170px;
		margin-bottom: 100px;
	}
	#sec_chart .chart_title {
		text-align: center;
		margin-bottom: 10px;
	}
	.legend {
		margin-bottom: 70px;
	}
}
